*{
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}